$primary-gray: #ccd1d9;
$primary-dark-gray: #666666;
$primary-white: #fff;
$primary-orange: #f9ab00;
$primary-red: #ef4035;
$primary-hover-red: #f33501;
$primary-light-gray: #f4f4f4;
$primary-dark: rgb(52, 58, 64);
$primary-black: #000000;
$primary-transparent-black: rgb(0, 0, 0, 70%);

.testimonials {
    background-image: url('../assets/testimonials-bg.jpg') ;
    background-size: cover;
    background-color: $primary-black;
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: 0;
    width: 100%;
}

.testimonials h1 {
    color: $primary-orange;
    padding: 3rem 0;
    text-transform: uppercase;
}

.testimonials-content {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto 2rem auto;
    background: $primary-transparent-black;
}